<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Kishor</title>
  {% load static %}
  <!-- Custom styles for this template -->
  <link href="{% static 'style.css' %}" rel="stylesheet">

</head>

<body>
  <header>
    <nav>
      <div class="logo">
        LOGO
      </div>

      <div class="navbar">

        <ul>
          <li><a href="#popular">popular</a></li>
          <li><a href="#latest">latest</a></li>
          <li><a href="#trending">trending</a></li>

        </ul>
      </div>
    </nav>

  </header>
  <main>
    <h2>Popular Videoes</h2>
    <section class="popular" id="featured-videos">
      <div class="content-box clearfix">
        <div class="video-container">
          <div class="responsive-video">
            <iframe width="600" height="338" src="https://www.youtube.com/embed/M3BM9TB-8yA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>
          <h2 class="video-title">10 Things I Regret About Node.js</h2>
        </div>

      <div class="video-container">
        <div class="responsive-video">
          <iframe width="640" height="360" src="https://www.youtube.com/embed/NqYNR1Qx5-M" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <h2 class="video-title">Carl Sagan</h2>
      </div>

        <div class="video-container">
          <div class="responsive-video">
            <iframe width="600" height="338" src="https://www.youtube.com/embed/UAfxKExKjVQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>
          <h2 class="video-title">Stephen Hawking - A Brief History Of Time</h2>
        </div>

      </div>

      <div class="content-box clearfix">
        <div class="video-container">
          <div class="responsive-video">
            <iframe width="600" height="338" src="https://www.youtube.com/embed/M3BM9TB-8yA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>
          <h2 class="video-title">10 Things I Regret About Node.js</h2>
        </div>

      <div class="video-container">
        <div class="responsive-video">
          <iframe width="640" height="360" src="https://www.youtube.com/embed/NqYNR1Qx5-M" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <h2 class="video-title">Carl Sagan</h2>
      </div>

        <div class="video-container">
          <div class="responsive-video">
            <iframe width="600" height="338" src="https://www.youtube.com/embed/UAfxKExKjVQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>
          <h2 class="video-title">Stephen Hawking - A Brief History Of Time</h2>
        </div>
    </section>
    <h2> Latest Videos </h2>
    <section class="latest" id="featured-videos">
      <div class="content-box clearfix">
        <div class="video-container">
          <div class="responsive-video">
            <iframe width="600" height="338" src="https://www.youtube.com/embed/M3BM9TB-8yA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>
          <h2 class="video-title">10 Things I Regret About Node.js</h2>
        </div>

      <div class="video-container">
        <div class="responsive-video">
          <iframe width="640" height="360" src="https://www.youtube.com/embed/NqYNR1Qx5-M" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <h2 class="video-title">Carl Sagan</h2>
      </div>

        <div class="video-container">
          <div class="responsive-video">
            <iframe width="600" height="338" src="https://www.youtube.com/embed/UAfxKExKjVQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>
          <h2 class="video-title">Stephen Hawking - A Brief History Of Time</h2>
        </div>

      </div>
    </section>
    <h2> Trending Videos </h2>
    <section class="trending" id="featured-videos">
      <div class="content-box clearfix">
        <div class="video-container">
          <div class="responsive-video">
            <iframe width="600" height="338" src="https://www.youtube.com/embed/M3BM9TB-8yA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>
          <h2 class="video-title">10 Things I Regret About Node.js</h2>
        </div>

      <div class="video-container">
        <div class="responsive-video">
          <iframe width="640" height="360" src="https://www.youtube.com/embed/NqYNR1Qx5-M" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <h2 class="video-title">Carl Sagan</h2>
      </div>

        <div class="video-container">
          <div class="responsive-video">
            <iframe width="600" height="338" src="https://www.youtube.com/embed/UAfxKExKjVQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>
          <h2 class="video-title">Stephen Hawking - A Brief History Of Time</h2>
        </div>

      </div>
    </section>


  </main>

  <!-- Footer -->
  <footer>
    <div class="container">
      <p class="m-0 text-center text-white">Copyright Oa @2018</p>
    </div>
    <!-- /.container -->
  </footer>

</body>

</html>
