<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Kishor</title>
  {% load static %}
  <!-- Custom styles for this template -->
  <link href="{% static 'style.css' %}" rel="stylesheet">

</head>

<body>
  <header>
<nav>
      <div class="logo">
   LOGO
   </div>

   <div class="navbar">

   <ul>
   <li><a href="#">home</a></li>
   <li><a href="#">about me</a></li>
   <li><a href="#">hire me</a></li>

   </ul>
     </div>
 </nav>

  </header>
  <main>
    

  </main>

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright Oa @2018</p>
    </div>
    <!-- /.container -->
  </footer>

</body>

</html>
